.tacos{

}

.hero-img{
    margin-top: 50px;
    width: 100%;
   border-radius: 10%;
   border: solid 10px whitesmoke;
    
}
.logo{
    font-size: 5em;
    position: absolute;
    top: 400px;
    right: 400px;
    color: whitesmoke;
}