.tacos{

}

.hero-img{
    margin-top: 50px;
    width: 100%;
   border-radius: 10%;
   border: solid 10px whitesmoke;
    
}
.logo{
    font-size: 10vh;
    position: absolute;
    color: whitesmoke;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}